.quick-menu-wrap {
  position: relative;
  width: 100%;
  margin-top: 220px;
}
.quick-menu {
  width: 100%;
  display: flex;
  gap: 6%;
}
.quick-menu li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc((100% - 24%) / 5);
}
.quick-img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: var(--icon-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.quick-img img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.quick-menu li p {
  margin-top: 20%;
  font-size: var(--sub--titleb);
}
.quick-img:hover {
    box-shadow: var(--hover);
}
/* 챗봇 */
.chat-bot {
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  z-index: 999999;
}
html.active .chat-bot,
body.active .chat-bot {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#chat img {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  box-shadow: var(--icon-shadow);
  overflow: hidden;
}
#chat span {
  position: absolute;
  top: 13px;
  left: -330%;
  padding: 8px 15px;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background-color: var(--main--blue);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

#chat:hover span {
  opacity: 1;
  visibility: visible;
}

/* 수정하기 */
#gotop {
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--main--blue);
  display: none;
}
