.service-now-wrap.inner {
  width: calc(100% - max(0px, (100vw - 1400px) / 2));
  margin-left: max(0px, calc((100vw - 1400px) / 2));
  max-width: 1660px;
}
/* 전체 */
.service-now-wrap {
  position: relative;
  width: 100%;
  margin-top: 220px;
}
/* top */
.service-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 100%;
}
.service-top h2 {
  font-size: var(--title--1b);
}
.now-swiper-nav {
  display: flex;
  align-items: center;
  gap: 10%;
}
.now-swiper-button-prev,
.now-swiper-button-next {
  font-size: var(--sub--titler);
  border: none;
  background-color: var(--gray-scale--0eee);
  border-radius: 100%;
  padding: 20%;
  cursor: pointer;
}

/* 스와이퍼 */
.now-swiper-wrap.inner {
  width: calc(100% - max(0px, (100vw - 1400px) / 2));
  margin-left: max(0px, calc((100vw - 1400px) / 2));
  max-width: 1660px;
}
/* 이미지 */
.nowSwiper img {
  border-radius: 20px;
}
