body {
  background-color: var(--main--sub);
}
.container1 {
  padding-top: 100px;
}
.container1 .inner {
  padding: 110px 0px;
  display: flex;
  justify-content: space-between;
}

.left h1 {
  margin-bottom: 10px;
}
.left span {
  color: var(--main--blue);
}
.left p {
  color: var(--gray-scale--sub-txt666);
}

/* 2번째 그룹 */

/* 왼쪽 구간 */
.container2 .left {
  display: flex;
  gap: 50px;
}

.container2 .left-text .container2 .inner {
  display: flex;
  /* padding: 20px 20px;  */
}

.inner-left {
  display: flex;
  gap: 80px;
  align-items: center;
}

.inner-left img {
  width: 219px;
  height: 219px;
  border-radius: 50%;
  border: 1px solid #dddddd;
}

.user_info .name {
  display: flex;
  gap: 30px;
  padding: 30px 0px;
}

.user_info .name button {
  padding: 8px 18px;
  background-color: var(--main--blue);
  color: var(--main--sub);
  border-radius: 50px;
  border: none;
}

.user_info .my_button {
  width: 180px;
  height: 50px;
  font-size: 18px;
  margin-top: 53px;
  background-color: var(--main--sub);
  border-radius: 10px;
  color: var(--gray-scale--2999);
  border-color: var(--gray-scale--2999);
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 14px 12.5px;
}

.user_info .name h2 {
  color: var(--gray-scale--main-txt);
  font-size: 30px;
}

.user_info p {
  color: var(--gray-scale--sub-txt666);
  font-size: 22px;
}

.container2 .inner {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 50px 70px;
}
.container2 {
  margin-bottom: 110px;
}

/* 오른쪽 구간 */

.container2 .inner-right {
  display: flex;
  gap: 50px;
}

.inner-right .card1 {
  border: solid 1px #dddddd;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  padding: 40px;
}

.inner-right .card-txt1 {
  margin-bottom: 9px;
  font-size: 22px;
}
.inner-right .card-txt2 {
  margin-bottom: 35px;
  font-size: 16px;
}

.inner-right .card2 {
  border: solid 1px #dddddd;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  padding: 40px;
}

.inner-right .card-icon {
  font-size: 45px;
  margin-bottom: 29px;
}

.inner-right button {
  color: var(--main--blue);
  background-color: var(--main--sub);
  border-radius: 10px;
  border-color: var(--main--blue);
  width: 110px;
  height: 40px;
  font-size: 16px;
}

/* 그룹3 */

.container3 .inner {
  width: 1400px;
  height: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 50px 70px;
}

.container3 .inner .step {
  /* display: flex;
  gap: 30px; */
  color: var(--gray-scale--2999);
}

.step1-4 .step .i {
  font-size: 40px;
}

.container3 .top-txt {
  display: flex;
  justify-content: space-between;
}

.container3 .top-txt h1 {
  font-size: 30px;
  color: var(--gray-scale--main-txt);
}

.btn-detail {
  width: 231px;
  height: 50px;
  font-size: 18px;
  background-color: var(--main--sub);
  border-radius: 10px;
  color: var(--gray-scale--2999);
  border-color: var(--gray-scale--2999);
  display: flex;
  gap: 22px;
  align-items: center;
  padding: 14px 15px;
}

/* / */

.container3 .inner .step {
  border: 1px solid #dddddd;
}

.container3 .inner .step .li span {
  margin-bottom: 27px;
}

.application-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* 단계 카드 */
.step {
  width: 200px;
  height: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #888;
  display: flex;
}

/* step-hover */
.step:hover {
  border: 2px solid #0086cd;
  box-shadow: 0 0 20px #0086cd;
  color: #0086cd;
}
.step:hover .step-number {
  color: #0086cd;
}
.step:hover .step-icon {
  color: #0086cd;
}
.step:hover p {
  color: #0086cd;
}
.step:hover h3 {
  color: #0086cd;
}
/*  */

.step .line {
  width: 55px;
  height: 1px;
  background: #dddddd;
  margin: 15px auto;
}

.step-number {
  font-size: 16px;
  margin-bottom: 27px;
}

.step-icon {
  font-size: 56px;
  margin-bottom: 20px;
}

.step h3 {
  font-size: 24px;
  font-weight: 600;
}

.step p {
  font-size: 16px;
}

/* 화살표 */
.arrow {
  color: #cfcfcf;
  font-size: 22px;
}

/* 0604 */
.top-txt {
  display: flex;
  gap: 686px;
  text-align: center;
  margin-bottom: 77px;
}
.step1-4 {
  display: flex;
  justify-content: space-between;
}

.step1-4 .arrow {
  margin: auto 37px;
}

/* 그룹4 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.service-wrap {
  /* max-width: 900px; */
  margin: 30px auto;
}

.service-wrap .inner {
  display: flex;
  justify-content: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 110px 0px;
}

.service-card {
  width: 680px;
  height: 220px;
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 18px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 10px;

  text-decoration: none;
  color: #222;

  transition: 0.2s;
}

.service-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 50px;

  flex-shrink: 0;
}

.blue {
  background: #2f7dd1;
}

.green {
  background: #7ac70c;
}

.purple {
  background: #4031c9;
}

.orange {
  background: #f3a629;
}

.content {
  flex: 1;
}

.content h3 {
  font-size: 30px;

  margin-bottom: 12px;
}

.content p {
  font-size: 27px;
  color: #888;
}

.arrow {
  color: #777;
  font-size: 25px;
}

/* 그룹5 */

.app-banner .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main--sub);
}

.app-banner {
  margin-top: 30px;
  padding: 18px 24px;
  background: #eef4fa;
}

.app-banner-left {
  display: flex;
  gap: 35px;
}
.app-banner-left .mobile-img {
  width: 151px;
  height: 224px;
}

.banner-content {
  flex: 1;
  margin-left: 20px;
  margin-top: 35px;
}

.banner-content h4 {
  font-size: 30px;
  margin-bottom: 21px;
}

.banner-content p {
  font-size: 27px;
  color: #666;
  line-height: 1.6;
}

.store .store-appstore {
  display: flex;
  gap: 22.5px;
  flex-direction: column;
}
.store {
  display: flex;
  gap: 10px;
  align-items: center;
}
.store .store-gogle {
  display: flex;
  gap: 22.5px;
  flex-direction: column;
}
.store .store-gogle .QR1 {
  width: 109px;
  height: 112px;
}
.store .store-appstore .QR2 {
  width: 109px;
  height: 112px;
}

.store .store-gogle .banner1 {
  width: 129px;
  height: 38px;
}

.store .store-appstore .banner2 {
  width: 129px;
  height: 38px;
}

.store .store-line {
  width: 1px;
  height: 189px;
  color: red;
}
