.process .inner h2{
    font-size: var(--subpage--title);
}
.process-list-wrap{
    margin-top: 3%;
    padding: 3%;
    background-color: var(--main--sub);
}
.process-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.process-list i{
    font-size: 24px;
    color: var(--main--blue);
}
.process-list li{
    padding: 3%;
    width: 240px;
    text-align: center;
    border: 1px solid var(--gray-scale--2999);
    border-radius: 20px;
    background-color: #fff;
}
.process-list li i{
    padding: 20px 0;
    font-size: 60px;
    color: var(--main--blue);
}
.process-list li h3{
    padding-bottom: 20px;
    font-size: var(--sub--titler);
}
.process-list li p{
    color: var(--gray-scale--sub-txt666);
}