.process .inner h2{
    color: var(--gray-scale--main-txt);
    font-size: var(--subpage--title);
}
.process .inner>p{
    padding-top: 1%;
    font-size: var(--sub--titler);
    color: var(--gray-scale--sub-txt666);
}
.process-list-wrap{
    margin-top: 3%;
    padding: 3%;
    background-color: var(--main--sub);
}
.process-list-wrap.process2{
    background-color: rgba(232, 71, 71, 0.1);
}
.process-list-wrap.process3{
    background-color: rgba(44, 28, 184, 0.1);
}
.process-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.process-list i{
    font-size: var(--sub--titler);
    color: var(--main--blue);
}
.process-list-wrap.process2 .process-list i{
    color: var(--sub-point--red);
}
.process-list-wrap.process3 .process-list i{
    color: var(--sub-point--navy);
}
.process-list li{
    padding: 3%;
    width: 240px;
    height: 300px;
    /* max-height: 300px;
    min-height: 180px; */
    text-align: center;
    border: 1px solid var(--gray-scale--2999);
    border-radius: 20px;
    background-color: #fff;
}
.process-list li i{
    padding: 20px 0;
    /* font-size: 60px; */
    font-size: clamp(43px, 3vw, 60px);
    color: var(--main--blue);
}
.process-list li h3{
    padding-bottom: 20px;
    font-size: var(--sub--titler);
    color: var(--gray-scale--main-txt);
}
.process-list li p{
    color: var(--gray-scale--sub-txt666);
}