/* 탭 메뉴별 desc */
.tab-descBox{
    width: 100%;
    padding: 3% 0;
    color: #fff;
    background-color: var(--main--blue);
}
.tab-descBox h2{
    font-size: var(--subpage--title);
}
.tab-descBox p{
    padding-top: 1.5%;
    font-size: var(--subpage--menu);
}

/* 장학금 리스트 영역 */
.price-list-wrap{
    padding: 5% 0;
}
.price-list{
    width: 100%;
    display: grid;
    /* grid-column: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.price-list li{
    /* width: calc(100% / 2); */
    width: 100%;
    height: 350px;
    padding: 5%;
    border-radius: 20px;
    box-shadow: var(--icon-shadow);
    background-color: #fff;
}
.price-box{
    height: 80%;
    display: flex;
    gap: 2%;
}
.price-icon{
    width: 100px;
}
.price-icon img{
    width: 100px;
}
.price-txt h2{
    line-height: 36px;
    font-size: var(--subpage--title);
    color: var(--gray-scale--main-txt);
}
.price-txt h2 span{
    font-size: 30px;
}
.price-txt p{
    width: 70%;
    padding: 30px 0;
    font-size: var(--sub--titler);
    color: var(--gray-scale--sub-txt666);
}
.price-btn{
    display: flex;
    gap: 2%;
}
.price-btn button{
    padding: 2% 3%;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid var(--main--blue);
    cursor: pointer;
    color: var(--main--blue);
    background-color: #fff;
}
.price-btn button i{
    padding-left: 15px;
    color: var(--main--blue);
}
.price-btn button:nth-child(2), .price-btn button:nth-child(2) i{
    border-color: var(--gray-scale--2999);
    color: var(--gray-scale--2999);
}